@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

html {
	width: 75%;
	margin: auto;
	background-color: rgba(200,200,255,1);
	font-family: 'EB Garamond', serif;
}


header {
	background-image:linear-gradient(0deg,rgba(200,200,255,1),rgba(200,200,255,.9),rgba(255,255,255,0.3)) ,url('../image/BANNER2.png');
	background-size: cover;
	padding: 10px;
	text-align: center;	
}


/*Image Controls*/
img.logo {
	width: 10%;
	position: fixed;
	top: 5%;
	left: 87%;
	z-index: 2;
}

img.sun, img.moon {
	width: 40%;
	height: 40%;
	float:inherit;
		
}

img.sun:hover, img.moon:hover {
	opacity: 50%;
}

/*Paragraph and image formatting */
div.p1, div.p2{
	display: flex;
	justify-content: space-between;
}

section {
	width: 50%;
}


/*footer stuff */
footer {
	text-align: center;
}

/* Links Control */
a {
	display: block;
	text-decoration: none;
	color: rgba(0,0,0,1);
	background: rgba(255,180,180,1);
	padding: 10px;
	line-height: 50px;
	border: 5px outset rgba(255,255,255,1);
}
a:hover {
	background-image: linear-gradient(270deg, rgba(255,255,255,1),rgba(255,180,180,1));
	border: 5px inset rgba(120,255,255,1);
	border-radius: 10vw;
}
a:active {
	color: rgba(255,0,0,1);
}