@charset "utf-8";
/* CSS Document */

*
{
	padding:0;
	margin:0;
}

body
{
	font-family:"Arial", "Sans-serif";
	width: 8.5in;
	height:22in;
	padding: 3em;
}
/*-------------For Week 4 Gradient Background*/
body.body1 {
	background-image:linear-gradient(0deg, rgba(255,0,0,0.5), rgba(255,0,255,0.5));
}
body.body2 {
	background-image:linear-gradient(180deg, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
}
body.body3 {
	background-image:linear-gradient(180deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
}
body.body4 {
	background-image:linear-gradient(90deg, rgba(0,255,0,0.5), rgba(255,0,255,0.5), rgba(0,255,0,0.5));
}

/*---------End of Week 4*/
header
{
	text-align: center;
}
/*-----------For Office Hours*/
aside
{
	float: right;
	text-align: center;
	font-size: 0.75em;
}
p.days
{
	text-align: right;
	word-spacing: 6em
}
p.times
{
	text-align: left;
	word-spacing: 1em;
}
/*------------------------------*/
section.disability
{
	text-align: center;
}
section.disability p
{
	text-align: left;
	border-style:solid;
	margin: 1em;
	padding: 1em;
}
/*---------------------*/
article.page1, article.page2
{
	margin: 1em;
}
/*For Material Spacing */
section.materials p.mTitle
{
	text-align: center;
	word-spacing:6.5em;
}
section.materials
{
	font-size: 0.75em
}
/*For the page number on top right of page */

header.pageNum1, header.pageNum2
{
 	text-align: right;
}


/*---------For the spans */
.bold
{
	font-weight:700;
}
.red
{
	color: rgba(255,0,0,1);
}
.underline
{
	text-decoration: underline;
}